name: Build docs

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Enable Corepack
        run: corepack enable

      - uses: actions/setup-node@v4
        name: Setup Node.js
        with:
          node-version: 24
          cache: yarn

      - name: Install dependencies
        uses: borales/actions-yarn@v5
        with:
          cmd: install

      - name: Build docs
        uses: borales/actions-yarn@v5
        with:
          cmd: build
